/*
=============== 
Variables
===============
*/

/* Colours */

:root {
  /* Bar Colours */
  --clr-bar-1: hsl(215, 47%, 81%);
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-5: hsl(205, 78%, 60%);

  /* Background Colours */
  --clr-background-1: hsla(220, 53%, 64%, 0.863);
  --clr-black: rgb(0, 0, 0);
  --clr-white: #fff;
  --clr-background-2: hsla(67, 39%, 91%, 0.89);
  /* Font Colours */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.2rem;
  --fixed-width: 450px;
}

/*
=============== 
Global Styles
===============
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

/* The Controls and Form in a Horizontal Layout */

.nav-bar {
  margin-top: 2rem;
  color: rgb(205, 241, 194);
  justify-content: space-between;
  display: inline-flex;
}
.logo {
  float: left;
  font-size: 30pt;
  margin-left: 60px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 7px rgb(91, 236, 255), 0 0 10px rgb(91, 236, 255),
    0 0 21px rgb(91, 236, 255), 0 0 42px rgb(91, 236, 255),
    0 0 82px rgb(91, 236, 255), 0 0 92px rgb(91, 236, 255),
    0 0 102px rgb(91, 236, 255), 0 0 151px rgb(91, 236, 255);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 2px;
  font-family: Verdana;
}

#inputs {
  justify-content: space-between;
  margin-left: 50px;
}

#inputs input,
select,
option {
  width: 400px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  background: var(--clr-white);
  padding: 0.25rem 0.5rem;
  opacity: 0.75;
  font-weight: bold;
  text-align: left;
  border: 2px;
}

#inputs input {
  margin-bottom: 0px;
}
#inputs input::placeholder {
  font-weight: normal;
  color: rgb(190, 188, 188);
}
#inputs select {
  margin-top: 5px;
}

#inputs select:focus {
  border-color: rgb(91, 236, 255);
  box-shadow: 0px 0px 20px rgb(91, 236, 255);
}

#inputs input:focus {
  border-color: rgb(91, 236, 255);
  box-shadow: 0px 0px 20px rgb(91, 236, 255);
}
#inputs input:focus::placeholder {
  color: transparent;
}

#labels {
  color: rgb(255, 255, 255);
  font-family: Verdana;
  text-shadow: 0 0 7px rgb(91, 236, 255), 0 0 10px rgb(91, 236, 255),
    0 0 21px rgb(91, 236, 255), 0 0 42px rgb(91, 236, 255),
    0 0 82px rgb(91, 236, 255), 0 0 92px rgb(91, 236, 255),
    0 0 102px rgb(91, 236, 255), 0 0 151px rgb(91, 236, 255);
  display: table-cell;
  text-align: right;
}

.input-error {
  display: block;
  text-align: center;
  font-size: small;
  color: red;
  margin-top: 0px;
}
#input1 {
  display: table-row;
}

#input2 {
  display: table-row;
}

label + input,
label + select {
  margin-left: 8px;
}

#buttons {
  display: inline-block;
  margin-top: 10px;
  margin-left: 50px;
}

/* Button Aesthetics */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  width: 130px;
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to left,
    hsl(221, 66%, 16%) 0%,
    hsl(221, 66%, 32%) 8%,
    hsl(221, 66%, 32%) 92%,
    hsl(221, 66%, 16%) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 10px;
  font-size: 1.25rem;
  color: white;
  background: hsl(221, 66%, 17%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 60ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 25ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  text-shadow: 0 0 7px rgb(91, 236, 255), 0 0 10px rgb(91, 236, 255),
    0 0 21px rgb(91, 236, 255), 0 0 42px rgb(91, 236, 255),
    0 0 82px rgb(91, 236, 255), 0 0 92px rgb(91, 236, 255),
    0 0 102px rgb(91, 236, 255), 0 0 151px rgb(91, 236, 255);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* Bars for Sorting Visuals */

/* Separate the bars */
div + div {
  margin-left: 10px;
}

.bars {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  width: 50%;
  left: 0;
  right: 0;
}

.bar {
  width: 50px;
  min-height: 1rem;
  background: hsl(221, 66%, 17%);
  opacity: 0.9;
  position: relative;
  font-size: 120%;
  font-weight: 200;
  display: inline-block;
  vertical-align: bottom;
  transition-delay: 20ms;
  transition-property: left;
  transition: all 0.2s cubic-bezier(0.16,  1,  0.3,  1);
}

/* Finished Sorting */

#finished {
  color: rgb(255, 255, 255);
  font-family: Verdana;
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 40pt;
  text-shadow: 0 0 7px rgb(88, 255, 10), 0 0 10px rgb(88, 255, 10),
    0 0 21px rgb(88, 255, 10), 0 0 42px rgb(88, 255, 10),
    0 0 82px rgb(88, 255, 10), 0 0 92px rgb(88, 255, 10),
    0 0 102px rgb(88, 255, 10), 0 0 151px rgb(88, 255, 10);
}

/*
=============== 
Shadows
===============
*/

/* Text Shadows */

#blue-shadow {
  text-shadow: 0 0 7px rgb(91, 236, 255), 0 0 10px rgb(91, 236, 255),
    0 0 21px rgb(91, 236, 255), 0 0 42px rgb(91, 236, 255),
    0 0 82px rgb(91, 236, 255), 0 0 92px rgb(91, 236, 255),
    0 0 102px rgb(91, 236, 255), 0 0 151px rgb(91, 236, 255);
}

/* Box Shadows */

#red-shadow {
  box-shadow: 0 0 5px rgb(255, 91, 91), 0 0 5px rgb(255, 91, 91),
    0 0 5px rgb(255, 91, 91), 0 0 5px rgb(255, 91, 91), 0 0 5px rgb(255, 91, 91),
    0 0 5px rgb(255, 91, 91), 0 0 5px rgb(255, 91, 91), 0 0 5px rgb(255, 91, 91);
}

#white-shadow {
  box-shadow: 0px 0px 0px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

#white-shadow {
  box-shadow: inset 0px 0px 0px #fff, inset 0px 0px 5px #fff,
    inset 0px 0px 5px #fff;
}
#yellow-shadow {
  box-shadow: inset 0px 0px 0px yellow, inset 0px 0px 5px yellow,
    inset 0px 0px 5px yellow;
}

#green-shadow {
  box-shadow: inset 0px 0px 0px rgb(30, 255, 0),
    inset 0px 0px 5px rgb(30, 255, 0), inset 0px 0px 5px rgb(30, 255, 0);
}
